@import "variables.scss";

/* common -------------------------- */
html {
	height: 100%;
	background: $page;
}

body {
	height: 100%;
	font: 400 16px/24px "Manrope", Arial, sans-serif;
	color: $text-font;

}

.container {
	margin: 0 auto;
	max-width: 1220px;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #324d5b;
}

h1,
h2,
h3 {
	font-size: 30px;
	line-height: 40px;
	margin: 0 0 22px;
}

a {
	cursor: pointer;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
