@import "variables.scss";
/* cover-------------------------- */

.cover {
	position: relative;
	top: 170px;
	;
	left: 0;


}

.cover__title {
	font: 400 76px/76px "Prosto One", Arial, sans-serif;
	color: $nav-link-current;
}

.cover__text {
	font-size: 22px;
}
