.section.blog
	h3.section__title Блог
	a.section__link(href="#") Все статьи
	ul.blog__list
		li.blog__item
			.blog__preview
				a.blog__link(href="#")
					img.blog__img(src="", alt="")
				h4.blog__title Как ухаживать за кожаной обувью
				p.blog__text Обувь из натуральной кожи практичная, красивая и долговечная. Благодаря материалу, в ней тепло зимой и не жарком летом. Чтобы кожаная обувь прослужила вам ни один год, за ней необходимо правильно и своевременно ухаживать.
				a.blog__more Читать статью
		li.blog__item
			.blog__preview
				a.blog__link(href="#")
					img.blog__img(src="", alt="")
				h4.blog__title Как выбрать обувь в 2021
				p.blog__text Стилист и ведущая программы “Все о моде” Ева Миллер рассказала о трендах обуви этого года. Современная мода удивляет многообразием формы и цветовой гаммы, а ключевым трендом является комфорт, удобство и лаконичность.
				a.blog__more Читать статью
		li.blog__item
			.blog__preview
				a.blog__link(href="#")
					img.blog__img(src="", alt="")
				h4.blog__title Как правильно выбирать кеды
				p.blog__text Кеды - одна их самых популярных моделей обуви уже не первый сезон. Их можно носить с любой одеждой: платьем, костюмом, джинсами и т.д. Такую обувь любят и мужчины и женщины и дети. Рассказываем, как выбрать качественные кеды.
				a.blog__more Читать статью
