|
|
a.contacts__logo-link
	img.contacts__logo-img(src="", alt="#")
|
|
a.contacts__text(href="tel:+88009995522") 8 (800) 999 55 22
|
|
a.contacts__text(href="mailto:info@edisonshoes.com") info@edisonshoes.com
address.contacts__text Санкт-Петербург, ул. Набережная, д.40
