ul.nav-footer__list Каталог
	li.nav-footer__item
		a.nav-footer__link(href="#") Новинки
	li.nav-footer__item
		a.nav-footer__link(href="#") Мужчинам
	li.nav-footer__item
		a.nav-footer__link(href="#") Женщинам
	li.nav-footer__item
		a.nav-footer__link(href="#") Детям
	li.nav-footer__item
		a.nav-footer__link(href="#") SALE
ul.nav-footer__list Компания
	li.nav-footer__item
		a.nav-footer__link(href="#") О нас
	li.nav-footer__item
		a.nav-footer__link(href="#") Блог
	li.nav-footer__item
		a.nav-footer__link(href="#") Вакансии
	li.nav-footer__item
		a.nav-footer__link(href="#") Контакты
	li.nav-footer__item
		a.nav-footer__link(href="#") Магазины
ul.nav-footer__list Помощь
	li.nav-footer__item
		a.nav-footer__link(href="#") Вопрос-ответ
	li.nav-footer__item
		a.nav-footer__link(href="#") Доставка и оплата
	li.nav-footer__item
		a.nav-footer__link(href="#") Отзывы
	li.nav-footer__item
		a.nav-footer__link(href="#") Служба поддержки
	li.nav-footer__item
		a.nav-footer__link(href="#") Обмен и возврат
