nav.nav
	|
	|
	a.nav__logo-img(href="#")
		img.nav__logo-link
	ul.nav__menu-list
		li.nav__menu-item
			a.nav__menu-link(href="#") Обувь
		li.nav__menu-item
			a.nav__menu-link(href="#") Новинки
		li.nav__menu-item
			a.nav__menu-link(href="#") Мужчинам
		li.nav__menu-item
			a.nav__menu-link(href="#") Женщинам
		li.nav__menu-item
			a.nav__menu-link(href="#") Детям
		li.nav__menu-item
			a.nav__menu-link(href="#") Sale
		li.nav__menu-item
			a.nav__menu-link(href="#") Блог
	ul.nav__user-list
		li.nav__user-item
			a.nav__user-link(href="#") Войти
		li.nav__user-item
			a.nav__user-link(href="#") Избранное
		li.nav__user-item
			a.nav__user-link(href="#") Корзина
