ul.network__list
	li.network__item
		a.network__link(href="#")
			img.network__img(src="", alt="")
	li.network__item
		a.network__link(href="#")
			img.network__img(src="", alt="")
	li.network__item
		a.network__link(href="#")
			img.network__img(src="", alt="")
	li.network__item
		a.network__link(href="#")
			img.network__img(src="", alt="")
	li.network__item
		a.network__link(href="#")
			img.network__img(src="", alt="")
