.section.new-collection
	h3.section__title Новая коллекция
	a.section__link(href="#") Смотреть все
	ul.new-collection__list
		li.new-collection__item.card
			include card.pug
		li.new-collection__item.card
			include card.pug
		li.new-collection__item.card
			include card.pug
		li.new-collection__item.card
			include card.pug
