footer.page__footer.footer
	.footer__row-1.contacts.nav-footer.subscribe.payment
		include contacts
		include nav-footer
		include subscribe
		include payment
	.footer__row-2.network.payment
		include network
	.footer__row-3
		p.footer__copyright Edison Shoes © 2021 Все права защищены
		p.footer__politics Политика конфиденциальности
