ul.payment__list Способы оплаты
	li.payment__item
		a.payment__link(href="#")
			img.payment__img(src="", alt="")
	li.payment__item
		a.payment__link(href="#")
			img.payment__img(src="", alt="")
	li.payment__item
		a.payment__link(href="#")
			img.payment__img(src="", alt="")
	li.payment__item
		a.payment__link(href="#")
			img.payment__img(src="", alt="")
	li.payment__item
		a.payment__link(href="#")
			img.payment__img(src="", alt="")
