.section.reviews
	h3.section__title Отзывы
	a.section__link(href="#") Все отзывы
	ul.reviews__list
		li.reviews__item
			.reviews__preview
				img.reviews__img(src="", alt="")
				h4.reviews__author Валерия
				p.reviews__date 28.06.2021
				p.reviews__text Очень любим магазин Edison, покупаем тут обувь всем членам семьи. Отличное цена       и качество, только оригиналы. Обменять неподошедший размер тоже не проблема. Спасибо, любимый магазин Edison!
		li.reviews__item
			.reviews__preview
				img.reviews__img(src="", alt="")
				h4.reviews__author Сергей
				p.reviews__date 12.06.2021
				p.reviews__text Покупаем детям обувь только в Edison. Дочки бегают везде, лужи, сугробы, грязь – обуви ничего не страшно. Когда становится малой, отдаем племянникам, потому что вся обувь выглядит как новая, все довольны.
		li.reviews__item
			.reviews__preview
				img.reviews__img(src="", alt="")
				h4.reviews__author Елена
				p.reviews__date 06.05.2021
				p.reviews__text Впервые узнала об Edison от стилиста, она всегда покупает здесь обувь для клиентов     и себе. Качество отличное, оригинальная обувь от известных брендов, причем цена меньше, чем на официальных сайтах.
