form.footer__subscribe.subscribe
	label.subscribe__label Подпишитесь на нашу рассылку и получите постоянную скидку 10% на все товары, включая новые коллекции
		input.subscribe__input(type="text", placholder="Введите e-mail")
